
* {
        box-sizing: border-box;
}

html,
body {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 5px 100px;
}
header .site-logo{
        width: 180px;
        height: auto;
}

header .main-navigation{
        display: flex;
        gap: 40px;

        text-align: center;
}
header .main-navigation a{
        color: black;
        text-decoration: none;
        font-size: 17px;
        display: flex;
        align-items: center;
}
header .main-navigation a:hover {
        color: purple;
}

header .account-links{
        margin-top: 5px;
        display: flex;
        gap: 10px;
        padding: 14px 10px 0 0;
}
header .account-links a{
        height: 40px;
        color: black;
        text-decoration: none;
        padding: 8px 30px;
        font-size: 17px;
        border: 2px solid transparent;
        white-space: nowrap
}
header .account-links .login:hover{
        color: #56379A;
        border-color: #56379A;
        border-radius: 8px;
}
header .account-links .signup{
        background-color: #E8AA2E;
        height: 40px;
        padding: 8px 20px;
        border-radius: 8px;
        font-weight: bold;
        white-space: nowrap
}
header .account-links .signup:hover{
        background-color: #D99A1F;
}

.hero-section{
        max-width: 100%;
        height: auto;

        padding: 40px 100px;

        background-image: url("images/backhero.png");
        background-position:right;
        
        display: flex;

}

.hero-content{
        flex: 1 1 600px;
        padding-top: 15px;
}
.hero-section .hero-image{
   flex: 1 1 700px;
}
.hero-content .section-label{
        width: 125px;
        height: auto;

        padding: 5px 8px;

        color:#62489E;
        background-color: #F0ECFC;
        font-weight: 700;
        font-size: 11px;
        border-radius: 8px;
}
.hero-content h1{
        padding-top: 20px;
        margin: 0;

        color: #62489E;
        font-weight: 700;
        line-height: 1.15;
        font-size: clamp(45px, 3.75vw, 60px);   
}
.hero-content p{
        font-size: clamp(16px, 1.66vw ,20px);

        line-height: 1.6;
        color: #666;
        margin: 30px 0;
}

.hero-actions{
        display: flex;
        gap:25px;
        margin: 5px 0;
}
.hero-actions .orbutton{
        color:black;
        text-decoration: none;
        background-color: #E8AA2E;
        border-radius: 8px;
        font-weight: 700;

        padding: 15px 50px;

        white-space: nowrap
}
.hero-actions .orbutton:hover{
         background-color: #D99A1F;
}
.hero-actions .prbutton{
        padding: 15px 50px;

        text-decoration: none;
        border-radius: 8px;
        background-color: white;
        color: #62489E;
        border: 2px solid #62489E;
        font-weight: 700;

        white-space: nowrap
}
.hero-actions .prbutton:hover{
        border: 2px solid #D99A1F;
        color: #D99A1F;
}


.hero-image img{
        display: flex;
        align-items: center;
        border-radius: 8px;
       
        filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.15));
}

.hero-section .hero-users{
        display: flex;
        align-items: center;
}
.hero-users p{
        font-size: 18px;
        line-height: 1.6;
        color: #666;
}
.hero-users span{
        color: #62489E;
        font-weight: 700;
}
.hero-users a {
        width: 130px;
        flex-shrink: 0;
    
}
.hero-users a img{
        width: 100%;
        height: auto;
        display: block;
}


.features-section{
        width: 100%;
        height: auto;
        padding: 40px 100px;
        display: block;
        text-align: center;
}
.features-section .section-label{
        width: 125px;
        height: auto;
        padding: 5px 8px;
        color:#62489E;
        background-color: #F0ECFC;
        font-weight: 700;
        font-size: 11px;
        border-radius: 8px;
}
.features-section h2{
        font-size: 28px;
}
    
.features-section .feature-cards{
        flex-wrap: wrap;
        display: flex;
        gap: 35px;
        font-size: 15px;
}
.feature-cards .card{
        flex: 1 1 280px;
        height: auto;
        display: flex;
        gap: 10px;
        border:1px solid #ebebeb;
        border-radius: 18px;
        padding: 40px 20px;
        margin-top: 15px;
        text-align:left;
        align-items: center;
        
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10);
}
.feature-cards .card .txt p{
        color: #666;
        font-size: 11px;
}
.feature-cards .card img{
    width: 80px;
    height: 80px;
}

.categories-section{
        width: 100%;
        padding: 10px 100px;
        text-align: center;
}
.categories-section span{
        width: 125px;
        height: auto;

        padding: 5px 8px;

        color:#62489E;
        background-color: #F0ECFC;
        font-weight: 700;
        font-size: 11px;
        border-radius: 8px;
}
.categories-section h2{
        font-size: 28px;
        margin-bottom: 45px;
}
.categorie-cards{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
         
        padding: 40px;

        border:1px solid #ebebeb;
        border-radius: 18px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10);
}
.cardcat{
        flex: 1 0 160px;
        min-width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        
            
}
.cardcat > div {
    width: 100%;
    min-height: 170px;

    padding: 20px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 18px;
}

.cardcat .Work{
        color:#5F3C9F;
        background-color: #F0EBF9;
         
        border-radius: 18px;
}
.cardcat .Personal{
        color: #F4A510;
        background-color: #FEF4E5;
         
        border-radius: 18px;
}
.cardcat .Study{
        color:#3772D5;
        background-color: #E9F0FE;
        
        border-radius: 18px;
}
.cardcat .Health{
        color: #22A35E;
        background-color: #E7F9EE;
         
        border-radius: 18px;
}
.cardcat .Shopping{
        color: #EE467A;
        background-color: #FDE9EF;
         
        border-radius: 18px;
}
.cardcat .Other{
        color: #6E6E73;
        background-color: #EFEFF1;
         
        border-radius: 18px;
}
.cardcat a {
        color: inherit;
    
        text-decoration: none;
        margin-bottom: 8px;
}
.cardcat p{
        color:#6E6E73 ;
        font-size: 13px;
}
.cardcat img{
        width: 40px;
        height: 40px;
        object-fit: contain;

        margin-bottom: 8px;
}


.cta-section {
    display: flex;
    align-items: center;
    
    background-image: url("images/ctaback copy.png");
    background-position: right;
    border-radius: 18px;
   
    padding:  30px 90px;
    margin: 25px 100px;
}
.cta-section img{
        flex: 0 1 160px;
        min-width: 130px;
        margin-right: 40px;
}
.cta-section .contents{
        align-items: center;
        justify-content: space-between;
        display: flex;
       
        flex: 1;
}
.cta-content {
        flex: 1;
}

.cta-content h2{
        color: white;
        white-space: nowrap;
        font-size: clamp(20px, 1.66vw ,30px);
}
.cta-content p {
        color: white;
        white-space: nowrap;
        font-size: clamp(14px, 1.16vw ,18px);
}

.cta-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
}
 
.cta-action a {
    padding: 15px 45px;

    background-color: #E8AA2E;
    color: black;

    text-decoration: none;
    font-weight: 700;

    border-radius: 8px;
    white-space: nowrap;
}

.cta-action a:hover {
    background-color: #D99A1F;
}

.cta-action p {
    margin: 12px 0 0;

    color: white;
    font-size: 13px;
    white-space: nowrap
}

/* ================= FOOTER ================= */

footer {
    background-color: #56379A;
    color: white;
}

footer .partup {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    padding: 50px 100px 35px;
}


.social-media {
    padding-top: 10px;
    width: 260px;
    flex-shrink: 0;
}

.social-media .footer-logo {
    width: 150px;
    height: auto;
}

.social-media p {
    color: white;
    font-size: 14px;
    line-height: 1.6;
    margin: 20px 0;
}

.social-media a {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 8px;
    text-decoration: none;
}

.social-media a img {
    width: 100%;
    height: auto;
    display: block;
}


/* ---------- Footer Columns ---------- */

.boxes {
    display: flex;
    flex-direction: column;

    width: 130px;
}


/* عنوان ستون‌ها */

.footer-title {
    color: white;
    font-size: 16px;
    font-weight: 700;
}


/* لینک‌های Footer */

.boxes a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
     
}

.boxes a:hover {
    color: #E8AA2E;
}


/* ---------- Subscribe ---------- */

.subscribe {
     width: 280px;
     max-width: 100%;
}

.subscribe p {
    color: white;
    font-size: 14px;
    line-height: 1.5;
}

.subscribe-form {
    display: flex;
    
    margin-top: 15px;
}

.subscribe-form input {
    max-width: 180px;
    height: 42px;

    padding: 0 12px;

    border: none;
    outline: none;

    border-radius: 8px 0 0 8px;
}

.subscribe-form button {
    height: 42px;

    padding: 0 20px;

    border: none;
    border-radius: 0 8px 8px 0;

    background-color: #E8AA2E;
    color: black;

    font-weight: 700;
    cursor: pointer;
}

.subscribe-form button:hover {
    background-color: #D99A1F;
}


/* ---------- Footer Bottom ---------- */

footer .partdown {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 18px 100px;

    background-color:#55369A;
}

.partdown p {
    margin: 0;

    color: white;
    font-size: 13px;
}
.last-icon{  
    width: 20px;
    height: auto;}

    
    
    /* responssive */

@media (max-width: 1200px) { 
        .hero-section .hero-actions a{
                padding: 13px clamp(20px, 2.4vw, 29px);
                font-size: clamp(12px, 1.33vw, 18px);
        }

        .cta-action a{
                padding: 13px clamp(20px, 2.4vw, 29px);
                font-size: clamp(14px, 1.5vw, 18px);
        }
        .cta-section p{
               font-size: clamp(12px, 1.33vw, 18px);
        }

        footer .subscribe-form{
                
        }
        footer .partup{
                padding: 50px clamp(30px, 4.5vw, 80px) 35px;
        }

        .subscribe-form input{
                width: clamp( 100px, 12vw,180px);
        }
}

@media (max-width: 900px) { }

@media (max-width: 700px) { }

/* @media (max-width: 1300px){

        header .site-logo{
                width: 175px;
                height: 65px;
        }

        header .main-navigation{
                display: flex;
                gap:35px;
        }

        header .main-navigation a{
                font-size: 16px;
        }

        .hero-actions .orbutton,.hero-actions .prbutton{
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
        }
        .hero-section .hero-content{
                margin-right: 30px;
        }
        .hero-section .hero-image img{
                width: 100%;
        
        }
        .hero-section {
                display: flex;
                gap:60px;
        }
        .hero-section .hero-content{
                width: 35%;
        }
        .hero-section .hero-content h1{
                font-size: 50px;
        }
        

        .account-links .login, .account-links .signup{
                font-size: 16px;
        }

        .cta-action {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 25px 0 0 100px ;
        }

        .feature-cards h3{
                font-size: 14px;
        }
        .feature-cards p{
                font-size: 12px;
        }


       .categorie-cards{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
        }
        .cardcat {
                flex: 0 1 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; 
        } 
        .cardcat img{
                display:flex;
                width: 30px;
                height: 30px;
        }
        

        .Work, .Personal, .Study,
        .Health, .Shopping, .Other{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
        }


        .cta-section img{
                width:170px;
                height: 170px;
        }
        
       .boxes a {
                display: block;
                color: white;
                text-decoration: none;
                font-size: 12px;
        }

}

@media( max-width: 1090px){

        Header{
                display: flex;
              
                gap: 20px;
        } 

        Header .site-logo{
                width: 150px;
                height: 60px;
        }
        
        .hero-section .hero-content{
                width: 42%;
        }

        .hero-section .hero-content h1{
                font-size: 40px;
        }
        .hero-section .hero-content p{
                font-size: 15px;
        }
        .hero-actions .orbutton,.hero-actions .prbutton{
                 flex-shrink: 0;
                font-size: 10px;
                
        }

        .hero-section .hero-image{
                width: 100%;
                
        }

        .cardcat {
                flex: 0 1 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; 
        } 

         .Work, .Personal, .Study,
        .Health, .Shopping, .Other{
              font-size: 14px;
        }

        .cardcat p {
                font-size: 11px;
        }

        .cta-section .contents{
                display: flex;
                gap: 50px;
        }
        footer .partup{
                display: flex;
                gap:35px;
        }

        .subscribe-form input{
                font-size: 9px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 34px;
        }

        .subscribe-form button{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 9px;
                width: 70px;
                height: 34px;
        }
        
       .subscribe p{
        font-size: 12px;
       }

       .partup p{
        font-size: 12px;
       }

       .social-media .footer-logo{
        width: 150px;
        height: 30px;
       }

       .social-media a{
        width: 22px;
        height: 22px;
       }
}

   */
